$font1: -apple-system, BlinkMacSystemFont,'Helvetica Neue', Helvetica, Arial, sans-serif;
$font2: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$size1: 1.4vw;
$line1: 1.75em;
$size2: 16px;
$line2: 24px;
$size3: 20px;
$line3: 26px;

$size1-mobile: 4vw;
$line1-mobile: 1.75em;
$size2-mobile: 16px;
$line2-mobile: 24px;
$size3-mobile: 20px;
$line3-mobile: 26px;

$size1-xl: 14px;
$line1-xl: 20px;
$size2-xl: 16px;
$line2-xl: 24px;
$size3-xl: 20px;
$line3-xl: 26px;

$margin:40px;
$margin-mobile:20px;
$margin-xl:40px;

$grey: #777;